.transferLinkWrapper {
  color: white;
  font-size: 1.7rem;
  border: 1px solid transparent;
  border-radius: 5px;
}

.transferLinkWrapper:hover {
  cursor: pointer;
  border-color: rgb(130, 130, 255);
}
